<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="deslogar()" expand="block" color="danger">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Deslogar
    </ion-button>
  </ion-toolbar>
</ion-footer>