<ion-content fullscreen scroll-y="false">
  <ion-slides pager="true">
    <ion-slide>
      <ion-thumbnail>
        <img src="/assets/logo.jpeg" />
      </ion-thumbnail>
      <h1>Bem Vindo<br>ao<br>Tenshi-Project</h1>
    </ion-slide>
    <ion-slide>
      <h1>Com Tenshi-Project Vc pode fazer oq quiser TOPS</h1>
    </ion-slide>
    <ion-slide>
      <h1>Vamos Começar?</h1>
      <ion-button (click)="loginModal()">
        <ion-icon slot="start" name="link"></ion-icon>
        Ja Possuo Conta
      </ion-button>
      <ion-button (click)="cadModal()">
        <ion-icon slot="start" name="add"></ion-icon>
        Vou Criar Minha Conta
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>