.active{
 --ion-text-color: var(--ion-color-primary);
 ion-icon{
     --ion-text-color-rgb: var(--ion-color-primary);
 }
}


.active-parent{
    font-weight: 500;
}

.casa-item{
    padding-left: 20px;
    font-size: medium;
}

.border{
    --border-radius:20px;
}